
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: #1e1e2f;
    color: #f5f5f5;
    line-height: 1.6;
    font-size: 16px;
    margin-top: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    flex-grow: 1;
}

header {
    background: #2e2e3e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: #000000 0px 0px 10px;
}

header h1 {
    font-size: 1.8rem;
    font-weight: 700;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #ddd;
}

.bi {
    font-size: 20px;
    transition: all 0.3s ease;
}

.bi:hover {
    color: #4fd1c5;
    font-size: 25px;
}

main {
    margin-top: 100px;
    background: #343450;
    border-radius: 15px 15px 0 0;
    padding: 20px;
    height: 100%;
    flex-grow: 1;  
}

main h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    background-color: #2e2e41;
    padding: 5px;
    border-radius: 20px;
    box-shadow: #000000 0px 0px 10px;
    border: solid 3px #2c2c3b;
    transition: all 0.3s ease;
}

main h2:hover {
    background-color: #82b3ae;
    color: #1e1e2f;
}

main h3 {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #5f5f93;
    border: #4fd1c5 2px solid;
    transition: background-color 0.3s ease;
}

main h3:hover {
    background: #096a60;
}
main .Github h3, a {
    color: red;
    padding: 2px;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.3s ease;
}
main .Github h3:hover, a:hover {
    background-color: #343450;
    color: #fff;
}
footer {
    background-color: #2e2e3e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    border-radius: 0 0 15px 15px;
    box-shadow: #000000 0px 0px 10px;
    font-size: 1rem;
    

}

footer p {
    margin: 0;
}